*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    height: 50px;
    padding: 5px;
}


.nav-left{
    border: 2px solid #000000;
    display: flex;
    width: 200px;
    /* justify-content: space-around; */
    align-items: center;
}

.youtube-img{
    margin-left: 25px;
    height:32px;
    width:38px;
}

.youtube-text{
    font-size:22px;
    font-family:fantasy;
}



input{
    font-size: 18px;
    height: 45px;
    width:  650px;
    padding: 3px;
    border-radius: 25px;
    border: 2px solid rgb(131, 120, 120);
}

.nav-search{
    display: flex;
}


.search-button{
    height: 30px;
    border-radius: 50px;
}
.button{
    border-radius: 50px;
}

.mic{
    background-color:rgb(245, 241, 241);
    height:35px;
    width:35px;
    padding: 8px;
    border-radius: 50%;
}



.add-video{
    height:35px;
    width:35px;
}